body {
    padding-top: 0;
    background: #f2f2f2;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer .footer-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .footer-ul>li{
    float: left;
    width: 33.3%;
    text-align: center;
    height: 40px;
}
.footer .footer-ul>li:first-child>a{
    border-right: 1px solid #ccc;
}
.footer .footer-ul>li:last-child>a{
    border-left: 1px solid #ccc;
}
.footer .footer-ul>li>a{
    display: block;
    height:20px;
    line-height: 20px;
    margin: 10px 0;
    color: #000;
}
.title{
    text-align: center;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    height: 50px;
    line-height: 50px;
    margin: 0;
}
.giant-screen{
    padding: 30px 15px;
    background-color: #fff;
}
.giant-title{
    text-align: center;
}
.giant-content{
    height: 80px;
    line-height: 80px;
    font-size: 3em;
    color: #ff0000;
    text-align: center;
}
.giant-link{
    text-align: center;
}
.giant-link img{
    margin-left: 5px;
    margin-top: -3px;
}

.arrow-right{
    background: #fff;
    height: 50px;
    padding: 13px 15px;
    position: relative;
    font-size: 0.8em;
}
.arrow-title{
    font-size: 0.8em;
    margin-left: 15px;
}
.arrow-right img:last-child{
    position: absolute;
    right: 15px;
    top: 18px;
}
.arrow-content{
    position: absolute;
    right: 35px;
    top: 17px;
    font-size: 0.8em;
    color: #cccccc;
}
.component-contain{
    background: #fff;
    height: 50px;
    position: relative;
    font-size: 0.8em;
}
.component-contain label{
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.component-contain input{
    width: 100%;
    height: 49px;
    border: none;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.component-contain select{
    width: 100%;
    height: 49px;
    border: none;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
button.btn{
    border-radius: 0;
    font-size: 1em;
}

