body {
    padding-top: 0;
    background: #f2f2f2;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer .footer-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer .footer-ul>li{
    float: left;
    width: 33.3%;
    text-align: center;
    height: 40px;
}
.footer .footer-ul>li:first-child>a{
    border-right: 1px solid #ccc;
}
.footer .footer-ul>li:last-child>a{
    border-left: 1px solid #ccc;
}
.footer .footer-ul>li>a{
    display: block;
    height:20px;
    line-height: 20px;
    margin: 10px 0;
    color: #000;
}